<%= stylesheet_link_tag "/applicExp.css" %>

<!-- This page is a form that is used for requesters to create new applications -->


<%= form_for @application do |f| %>
<%= f.hidden_field :status, :value => "pend" %>
<%= f.hidden_field :user_id, :value => current_user.user_id %>

<h2>Create a new Application</h2>
<div class="applicExpForm">
	<div>
		<p class="headings"><%= f.label :registration_expense %></p>
		<%= f.text_field :registration, :required => true %>
	</div>
	<div>
		<p class="headings"><%= f.label :transportation_expense %></p>
		<%= f.text_field :transportation, :required => true%>
	</div>
	<div>
		<p class="headings"><%= f.label :accommodation_expense %></p>
		<%= f.text_field :accommodation,:required => true %>
	</div>
	<div>
		<p class="headings"><%= f.label :meal_expense %></p>
		<%= f.text_field :meals,:required => true %>
	</div>
	<div>
		<p class="headings"><%= f.label :presentation_title %></p>
		<%= f.text_field :presentationTitle,:required => true %>
	</div>
	<div>
		<p class="headings"><%= f.label :presentation_type %></p>
		<%= f.select :presentationType, ['Verbal Presentation', 'Poster'],:required => true%>
	</div>
<hr />
<%= fields_for @conference do |c| %>
<p> Conference Details </p>
	<div>
		<p class="headings"><%= c.label :conference_start_date %></p>
		<%= c.date_select(:startDate, :order => [:month, :day, :year]) %>
	</div>
	<div>

		<p class="headings"><%= c.label :conference_end_date %></p><br />
		<%= c.date_select(:endDate, :order => [:month, :day, :year])%>
	</div>
	<div>
		<p class="headings"><%= c.label :website_address %></p><br />
		<%=c.text_field :website, :required => true %>
	</div>
	<div>
		<p class="headings"><%= c.label :conference_location %></p><br />
		<%= c.text_field :location,:required => true %>
	</div>
<% end %>

<%= f.submit 'Submit Application',:class => "btn btn-primary btn-block btn-large" %>
<%= f.submit 'Save and Exit' ,:class => "btn btn-primary btn-block btn-large"%>

</div>
<% end %>

<body class="applicExp"></body>
