
<p class="heading1">  Add new <%= @type %></p>

<%= form_for @user, url: create_user_path do |f| %>

<%= f.hidden_field :type, :value => params[:type] %>

<div>
	<p class="headings"><%= f.label :first_name %></p><br />
	<%= f.text_field :firstName %>
</div>
<div>
	<p class="headings"><%= f.label :last_name %></p><br />
	<%= f.text_field :lastName %>
</div>
<div>
	<p class="headings"><%= f.label :login_id %></p><br />
	<%= f.text_field :loginID %>
</div>
<div>
	<p class="headings"><%= f.label :password %></p><br />
	<%= f.text_field :password %>
</div>
<div>
	<p class="headings"><%= f.label :email %></p><br />
	<%= f.text_field :email  %>
</div>
<% if @type=="Requester" %>

	<div>
		<p class="headings"><%= f.label :supervisor %></p><br />
		<%= f.collection_select :sup_id, @sups, :user_id, :firstName, :prompt => "Select a supervisor" %>
	</div>
	<div>
		<p class="headings"><%= f.label :student_number %></p><br />
		<%= f.text_field :studNumb %>
	</div>
	<div>
		<p class="headings"><%= f.label :academic_unit %></p><br />
		<%= f.text_field :academicUnit %>
	</div>
	<div>
		<p class="headings"><%= f.label :program %></p><br />
		<%= f.text_field :program %>
	</div>
	<div>
		<p class="headings"><%= f.label :session_number%></p><br />
		<%= f.text_field :sessionNumber %>
	</div>
	<div>
		<p class="headings"><%= f.label :thesis_topic %></p><br />
		<%= f.text_field :thesisTopic %>
	</div>
	<div>
		<p class="headings"><%= f.label :bank_account_number%></p><br />
		<%= f.text_field :bankAccNumb %>
	</div>
<% end %>
<% if @type=="Supervisor" %>
	<div>
		<p class="headings"><%= f.label :employee_number%></p><br />
		<%= f.text_field :employeeNumb %>
	</div>
	<div>
		<p class="headings"><%= f.label :grant_account_number%></p><br />
		<%= f.text_field :grantAccNumb %>
	</div>
<% end %>

<%= f.submit 'Create TYPEHEREr' %>

<% end %>